
body {
    background-color: lavender;
    font-family: "Geneva", sans-serif;

}

h4 {
    position:fixed;
    padding: 1vh;
    background-color: darkslategrey;
    font-family: "Geneva", sans-serif;
    color: lavender;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 0 30px 15px #6e6e6e;
    width: 100vw;
    top: 0;
    left: 0;
}

svg {
    position:fixed;
    background-color: #989898;
    height: 70vh;
    width: 90vw;
    left: 5vw;
    top: 20vh;
}

button {
    position:fixed;
    left: 40vw;
    top: 50vh;
    width: 20vw;
    padding: 2vh;
    text-align: center;
    font-family: "Geneva", sans-serif;
    font-weight: normal;
    font-size: 20px;
    background-color: darkslategrey;
    color: lavender;
    box-shadow: 0 0 30px 15px #6e6e6e;
    border: none;
}

label {
    position: fixed;
    left: 70vw;
    top: 20vh;
    width: 20vw;
    padding: 2vh;
    text-align: center;
    font-family: "Geneva", sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: lavender;
    border: none;
}

@keyframes slide-in-left {
    0% {
        left: 0;
    }
    100% {
        transform: translateX(-100%);
    }
}